* {
  border: none;
  margin: 0;
  max-width: 1728px;
}

html {
  max-width: 100%;
}

body {
  font-family: "Poppins", Arial, sans-serif;
  background-color: #0d0d15;
  color: #f5f8fb;
  font-size: 16px;
  margin: 0 auto;
}

h2,
.highlite-text {
  font-family: "Bakbak One", Arial, sans-serif;
  font-weight: 400;
  font-size: 2.25rem;
  line-height: 3rem;
  width: fit-content;
}

h3 {
  font-family: "Bakbak One", Arial, sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2rem;
  width: fit-content;
}

a {
  color: inherit;
  text-decoration: inherit;
  padding: 0;
}

img {
  display: block;
}

ul,
ol {
  list-style-type: none;
}

button {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: inherit;
}

.container__section {
  padding: 4rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  align-items: center;
}
.container__card {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background: rgba(29, 28, 40, 1);
  position: relative;
}

.horizontal-divider {
  height: 0.1rem;
  flex-grow: 2;
  background: rgba(208, 215, 251, 0.17);
}

.btn {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  color: #f5f8fb;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.75rem;
  padding: 0.625rem 1.5rem;
  border: solid 0.1px rgba(208, 215, 251, 0.17);
  width: fit-content;
  cursor: pointer;
}

.btn__blue {
  background-color: #0265dc;
}

.btn__navigation {
  padding: 0.5rem 1.25rem;
  font-size: 1rem;
  line-height: 1.5rem;
  border: none;
}
.btn__square {
  padding: 0.75rem 0.75rem;
  align-items: center;
  min-height: 1.5rem;
  min-width: 1.5rem;
}
.label {
  padding: 0.5rem 0.625rem;
  background: #f5f8fb;
  color: #0265dc;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.25rem;
  width: fit-content;
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
}
.label__red {
  background: #ea3829;
  color: #f5f8fb;
}

.square-image {
  width: 1.5rem;
  height: 1.5rem;
}

.square-image__arrow {
  height: 0.75rem;
  padding: 0.375rem 0;
}

.text {
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 500;
  line-height: 1.75rem;
}

.text__small {
  font-weight: 400;
  line-height: 1.25rem;
  color: rgba(239, 245, 250, 0.82);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.188rem 2rem;
}
.header__navigation {
  padding: 0;
  height: fit-content;
}
.navigation__list {
  display: flex;
  padding: 0;
}
.navigation__item {
  display: flex;
}
.navigation__item.btn__link {
  border-bottom: 0.15rem solid transparent;
}
.navigation__item.btn__link:hover {
  border-color: #0265dc;
}
.header__searching-and-links {
  display: flex;
  gap: 16px;
  align-items: center;
  font-size: 1.5rem;
  color: rgba(208, 215, 251, 0.17);
}

.searching {
  padding: 0.75rem;
  border: solid 0.1px rgba(208, 215, 251, 0.17);
  display: flex;
}

.searching__input {
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 400;
  width: 8.25rem;
  padding: 0;
  outline: none;
  color: #f5f8fb;
  font-size: 0.875rem;
  background-color: #0d0d15;
}

.searching__input::placeholder {
  color: rgba(231, 238, 247, 0.66);
}

.searching__button {
  cursor: pointer;
  margin-right: 0.5rem;
}

.main {
  padding: 8.813rem 12.5rem;
}
.main__container {
  width: 52%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.main__highlight-text {
  font-size: 3.25rem;
  line-height: 3.875rem;
  font-weight: 400;
  text-transform: uppercase;
  font-family: "Bakbak One", Arial, sans-serif;
  margin: 0 0 0.5rem 0;
}
.highlight-text__span {
  color: #0265dc;
}
.main__parameter-description {
  display: flex;
  gap: 4rem;
}
.main__main-buttons {
  display: flex;
  gap: 1rem;
}
.parameter-description__highlight-text {
  font-family: "Bakbak One", Arial, sans-serif;
  font-size: 2.75rem;
  line-height: 3.5rem;
  font-weight: 400;
  margin: 0 0 0.25rem 0;
}
.parameter-description__title {
  line-height: 1.625rem;
}

.catalog__controller {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.5rem;
}
.controller-header__image {
  margin-right: 0.25rem;
  width: 1.25rem;
}
.controller__controller-header {
  display: flex;
  align-items: center;
  margin-right: 0.5rem;
}
.controller-header__title {
  font-size: 1.5rem;
  line-height: 2rem;
}

.controller__controller-buttons {
  display: flex;
  margin-left: 2rem;
  gap: 1rem;
  align-items: center;
  font-size: 1.5rem;
  color: rgba(208, 215, 251, 0.17);
}

.catalog {
  display: block;
}
.catalog__catalog-cards {
  display: flex;
  gap: 1.5rem;
}

.catolog-card__image {
  width: 15rem;
  margin-right: 0.75rem;
}

.catolog-card__name {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.catolog-card__price {
  margin-bottom: 0.5rem;
}

.our-blog__blog-viewer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.blog-viewer__blog-card:nth-child(4n + 1) {
  grid-row: span 2;
}

.blog-viewer__blog-card:not(:nth-child(4n + 1)) > img {
  height: 10.875rem;
}

.blog-card__post-data {
  display: flex;
  gap: 0.5rem;
  color: rgba(208, 215, 251, 0.17);
  font-size: 1rem;
  line-height: 1.25rem;
  align-items: center;
  margin-bottom: 1rem;
}

.blog-card__title {
  font-size: 2.25rem;
  line-height: 3rem;
  margin-bottom: 0.25rem;
}

.blog-card__text {
  line-height: 1.5rem;
  margin-bottom: 2rem;
}

.blog-card__button {
  border: solid 0.1px rgba(208, 215, 251, 0.17);
  width: fit-content;
}
.about-us {
  max-width: 55.5%;
  margin: 0 auto;
}
.about-us__description-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-us__title {
  padding-bottom: 1rem;
}

.about-us__description {
  text-align: center;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.about-us__about-viewer {
  display: grid;
  counter-reset: item;
  grid-template-columns: auto auto;
  gap: 2rem;
  padding: 0;
}

.about-viewer__about-card:before {
  position: absolute;
  top: 2rem;
  -webkit-text-stroke: 1px #0265dc;
  -webkit-text-fill-color: transparent;
  font-family: "Bakbak One", Arial, sans-serif;
  font-weight: 400;
  font-size: 5rem;
  line-height: 6rem;
  content: counter(item, decimal-leading-zero);
  counter-increment: item;
}

.about-viewer__about-card {
  padding: 5.5rem 2rem 2rem 2rem;
}

.about-card__title {
  font-size: 1.5rem;
  line-height: 2rem;
  z-index: 2;
}

.about-card__text {
  font-size: 1.125rem;
  line-height: 1.75rem;
}
.our-team {
  max-width: 81.25rem;
  margin: 0 auto;
}
.our-team__team-viewer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2.5rem;
}

.our-team__card {
  padding: 1.75rem;
  align-items: center;
  gap: 1rem;
}

.our-team__image {
  width: 7.5rem;
  border-radius: 50%;
}

.our-team__description {
  text-align: center;
}
.our-team__job {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.our-team__socials {
  padding: 0;
  display: flex;
  gap: 0.5rem;
}

.socials__to-connect {
  border: none;
  padding: 0.5rem;
}

.faqs {
  margin: 0 auto;
  max-width: 81.25rem;
}

.faqs__details {
  max-width: 57rem;
  width: 100%;
}

.faqs__summary {
  display: flex;
  justify-content: space-between;
}

.faqs__summary::after {
  content: "+";
  font-size: 1.5em;
  display: inline-block;
  margin-right: 8px;
}

.faqs__details[open] .faqs__summary {
  padding-bottom: 1.5rem;
}

.faqs__details[open] .faqs__summary::after {
  content: "-";
}

.faqs__answer {
  padding-top: 1rem;
  border-top: 0.05rem solid rgba(191, 197, 238, 0.12);
}

.intro__intro-crumbs > ol {
  display: flex;
  gap: 16px;
}

.blog-place {
  display: flex;
}

.blog-post__list {
  list-style-image: url("../images/small-logo.svg");
}
.blog-post__images {
  display: flex;
}
.blog-post__blog-links {
  display: flex;
  justify-content: space-between;
}
.blog-post__blog-links > div {
  display: flex;
}
.blog-links__list {
  display: flex;
}

.footer {
  background: rgba(26, 25, 37, 1);
  margin-top: 2.5rem;
  gap: 4rem;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding-bottom: 2rem;
}
.footer__footer-description {
  display: flex;
  width: 100%;
  gap: 1.5rem;
}
.footer-description {
  flex-grow: 3;
}

.footer-description__text {
  margin-top: 0.75rem;
  width: 20rem;
}

.footer-column__column {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 0.5rem;
}

.footer-column__title {
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.75rem;
  margin-bottom: 0.5rem;
  padding: 0 0.5rem;
}

.footer-column__link {
  display: inline-block;
  width: 100%;
  padding: 0.25rem 0.5rem;
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 1rem;
}
.footer__socials {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 0.1rem solid rgba(191, 197, 238, 0.12);
  padding-top: 2rem;
}
.socials__list {
  display: flex;
  padding: 0;
}
