body {
  font-family: "Poppins", Arial, sans-serif;
  background-color: #0d0d15;
  color: #f5f8fb;
  margin: 0 auto;
  max-width: 1728px;
}

a {
  color: inherit;
  text-decoration: inherit;
  padding: 0;
  border: 0.25rem solid transparent;
}

.heading,
.text__highlite {
  font-family: "Bakbak One", Arial, sans-serif;
  font-weight: 400;
  font-size: 2.25rem;
  line-height: 3rem;
  width: fit-content;
  margin: 0;
}

.paragraph {
  margin: 0;
  font-size: 16px;
}

.heading__h3 {
  margin: 0;
  font-family: "Bakbak One", Arial, sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2rem;
  width: fit-content;
}

.blockquote {
  margin: 0;
}

.figure {
  position: relative;
  margin: 0;
  line-height: 0;
}

.figcaption {
  bottom: 0.75rem;
  left: 1.5rem;
  position: absolute;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
}

.container__section {
  padding: 4rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  align-items: center;
}
.container__card {
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background: #1d1c28ff;
  position: relative;
}

.horizontal-divider {
  height: 0.1rem;
  flex-grow: 2;
  background: #d0d7fb2b;
}

.btn {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  color: #f5f8fb;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.75rem;
  padding: 0.625rem 1.5rem;
  border: solid 0.1rem #d0d7fb2b;
  width: fit-content;
  cursor: pointer;
  background-color: inherit;
  position: relative;
}

.btn:hover {
  background-color: #bfc5ee1f;
  border: solid 0.1rem #bfc5ee1f;
}

.btn:focus {
  background-color: #bfc5ee1f;
  border: solid 0.1rem #bfc5ee1f;
}

.btn:focus::before {
  content: "";
  position: absolute;
  top: -0.25rem;
  left: -0.25rem;
  right: -0.25rem;
  bottom: -0.25rem;
  border: 0.25rem solid #3892f3;
}

.btn:active {
  background-color: #bfc5ee1f;
  border: solid 0.1rem #bfc5ee1f;
}

.btn__imaged {
  background-color: #0265dc;
}

.btn__wallet {
  background-color: #0265dc;
}

.btn__wallet:hover {
  background-color: #3892f3;
}

.btn__wallet:focus {
  background-color: #0265dc;
}

.btn__wallet:focus::before {
  content: "";
  position: absolute;
  top: -0.25rem;
  left: -0.25rem;
  right: -0.25rem;
  bottom: -0.25rem;
  border: 0.25rem solid #3892f3;
}

.btn__wallet:active {
  background-color: #0054b6;
}

.btn__navigation {
  padding: 0.5rem 1.25rem;
  font-size: 1rem;
  line-height: 1.5rem;
  border: solid 0.1rem transparent;
}

.btn__navigation:hover {
  border: solid 0.1rem transparent;
  background-color: #bfc5ee1f;
}

.btn__navigation:focus {
  border: solid 0.1rem transparent;
  background-color: #bfc5ee1f;
}

.btn__navigation:focus::before {
  content: "";
  position: absolute;
  top: -0.25rem;
  left: -0.25rem;
  right: -0.25rem;
  bottom: -0.25rem;
  border: 0.25rem solid #3892f3;
}

.btn__navigation:active {
  border: solid 0.1rem transparent;
  background-color: #bfc5ee1f;
}

.btn__socials-and-arrows {
  padding: 0.75rem 0.75rem;
  align-items: center;
  min-height: 1.5rem;
  min-width: 1.5rem;
}

.label {
  padding: 0.5rem 0.625rem;
  background: #f5f8fb;
  color: #0265dc;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.25rem;
  width: fit-content;
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
}
.label__sold-out {
  background: #ea3829;
  color: #f5f8fb;
}

.square-image {
  width: 1.5rem;
  height: 1.5rem;
}

.square-image__arrow {
  height: 0.75rem;
  padding: 0.375rem 0;
}

.text {
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 500;
  line-height: 1.75rem;
  margin: 0;
}

.text__small {
  font-weight: 400;
  line-height: 1.25rem;
  color: #eff5fad1;
}

.text__introduction {
  font-size: 3.25rem;
  line-height: 3.875rem;
  font-weight: 400;
  font-family: "Bakbak One", Arial, sans-serif;
}

.text__current-crumb {
  color: #e7eef7a8;
}

.list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.list__controller {
  gap: 1rem;
  font-size: 1.5rem;
  color: #d0d7fb2b;
}

.list__column {
  flex-direction: column;
  gap: 0.5rem;
  align-items: start;
}

.field:hover {
  border: solid 0.1rem #3892f3;
}

.field:focus {
  border: solid 0.15rem #3892f3;
}

.link {
  border: 0.1rem solid transparent;
}

.link:hover {
  color: #3892f3;
}

.link:focus {
  border: solid 0.15rem #3892f3;
}

.link:active {
  color: #0054b6;
}

.behavior__link {
  border: 0.25rem solid transparent;
}

.behavior__link:focus {
  border: 0.25rem solid #3892f3;
}

.behavior__card {
  border: 0.25rem solid transparent;
}

.behavior__card:hover {
  border-image: linear-gradient(
      -50deg,
      #0265dc,
      transparent 6%,
      transparent 95%,
      #0265dc
    )
    1;
  border-width: 0.25rem;
  border-style: solid;
}

.header {
  justify-content: space-between;
  padding: 2.188rem 2rem;
}
.header__logo {
  display: flex;
  text-transform: uppercase;
  gap: 1rem;
}
.header__title {
  font-family: "Bakbak One", Arial, sans-serif;
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.5rem;
}

.logo {
  background-image: url("../images/icons/small-logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
  padding-left: 3.25rem;
}

.header__navigation {
  height: fit-content;
}

.navigation__link {
  border-bottom: 0.15rem solid transparent;
}
.navigation__link:hover {
  border-bottom: 0.15rem solid #0265dc;
}
.navigation__link:focus {
  background-color: #bfc5ee1f;
}

.header__searching-and-links {
  gap: 16px;
  font-size: 1.5rem;
  color: #d0d7fb2b;
}

.searching {
  padding: 0.75rem;
  border: solid 0.1rem #d0d7fb2b;
}

.searching__button {
  padding: 0;
  border: solid 0.1rem transparent;
  cursor: pointer;
  margin-right: 0.5rem;
}

.searching__input {
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 400;
  width: 11.75rem;
  padding: 0.75rem;
  padding-left: 2.75rem;
  outline: none;
  color: #f5f8fb;
  font-size: 0.875rem;
  background-color: #0d0d15;
  border: 0.1rem solid #d0d7fb2b;
  background: url("../images/icons/searching.svg") no-repeat left;
  background-size: 1.5rem;
  background-position-x: 0.75rem;
}

.searching__input::placeholder {
  color: #e7eef7a8;
}

.main {
  position: relative;
  padding: 8.813rem 12.5rem;
}

.main::before {
  content: "";
  position: absolute;
  width: 100vw;
  height: 100%;
  top: 0;
  left: calc((100% - 100vw) / 2);
  background: radial-gradient(
    42.5% 42.5% at 22.28% -4.22%,
    #0265dc80 0%,
    #0265dc00 100%
  );
}

.main::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 200%;
  top: 0;
  left: 0;
  background-image: url(../images/intro-backgrounds/cube.webp),
    url(../images/intro-backgrounds/waves.webp),
    radial-gradient(circle, #014759 5%, transparent 16%);
  background-repeat: no-repeat;
  background-position: 66.375rem 2rem, 84.063rem 22.5rem, 30.15rem -22rem;
  z-index: -1;
}

.main__container {
  width: 52%;
  gap: 2rem;
}

.main__highlight-text {
  text-transform: uppercase;
  margin: 0 0 0.5rem 0;
}

.main__title {
  font-size: 1.25rem;
}

.highlight-text__span {
  color: #0265dc;
}
.main__parameter-description {
  gap: 4rem;
}
.main__main-buttons {
  gap: 1rem;
}
.parameter-description__highlight-text {
  font-family: "Bakbak One", Arial, sans-serif;
  font-size: 2.75rem;
  line-height: 3.5rem;
  font-weight: 400;
  margin: 0 0 0.25rem 0;
}
.parameter-description__title {
  line-height: 1.625rem;
}

.catalog__controller {
  justify-content: space-between;
  margin-bottom: 2.5rem;
}
.controller-header__image {
  margin-right: 0.5rem;
  width: 1.25rem;
}
.controller__controller-header {
  margin-right: 0.5rem;
}
.controller-header__title {
  font-size: 1.5rem;
  line-height: 2rem;
  background: url("../images/icons/file.svg") no-repeat;
  background-position: 0 40%;
  background-size: 1.25rem 1.25rem;
  padding-left: 2rem;
}

.controller__controller-buttons {
  margin-left: 2rem;
}

.catalog {
  display: block;
}
.catalog__catalog-cards {
  gap: 1.5rem;
  overflow: hidden;
}

.catalog-cards__list-item {
  position: relative;
}

.catalog-cards__catalog-options {
  display: none;
}
.catalog-cards__list-item:hover .catalog-cards__catalog-options {
  position: absolute;
  display: flex;
  align-items: center;
  top: 0;
  bottom: 0;
  width: 97%;
  background-color: #0d0d1540;
  vertical-align: middle;
  border-image: linear-gradient(
      -50deg,
      #0265dc,
      transparent 6%,
      transparent 95%,
      #0265dc
    )
    1;
  border-width: 0.25rem;
  border-style: solid;
}

.catalog-options__list {
  gap: 1.5rem;
  padding: 0 2rem 0 1.25rem;
  width: 100%;
}

.catalog-options__favorites {
  width: 100%;
  color: #0d0d15;
  background-color: #ffffff;
}

.catalog-options__buy {
  display: flex;
  padding: 0.625rem 0;
  width: 100%;
  border-right: 0;
  border-left: 0;
  justify-content: center;
}

.catalog-options__buy:hover {
  border-right: 0;
  border-left: 0;
}

.catalog-options__buy:focus {
  border-right: 0;
  border-left: 0;
}

.catalog-cards__link {
  font-size: 0;
  padding: 0;
  border: 0;
}

.catolog-card__image {
  margin-right: 0.75rem;
  background: radial-gradient(circle, #317f98 90%, transparent 100%);
}

.catolog-card__name {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.catolog-card__price {
  margin-bottom: 0.5rem;
}

.our-blog__blog-viewer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.blog-viewer__blog-card.big {
  grid-row: span 2;
}

.blog-card__image {
  background: radial-gradient(circle, #317f98 60%, transparent 100%);
}

.blog-card__image.small {
  object-fit: cover;
}

.blog-card__post-data {
  gap: 0.5rem;
  color: #d0d7fb2b;
  font-size: 1rem;
  line-height: 1.25rem;
  margin-bottom: 1rem;
}

.blog-card__title {
  font-size: 2.25rem;
  line-height: 3rem;
  margin-bottom: 0.25rem;
}

.blog-card__text {
  line-height: 1.5rem;
  margin-bottom: 2rem;
}

.blog-card__button {
  border: solid 0.1rem #d0d7fb2b;
  width: fit-content;
}

.blog-card__icon {
  padding: 0 0.563rem;
  width: 0.75rem;
  height: 1rem;
}

.about-us {
  max-width: 55.5%;
  margin: 0 auto;
}
.about-us__description-container {
  align-items: center;
}
.about-us__title {
  padding-bottom: 1rem;
}

.about-us__description {
  text-align: center;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.about-us__about-viewer {
  display: grid;
  counter-reset: item;
  grid-template-columns: auto auto;
  gap: 2rem;
}

.about-viewer__about-card:before {
  position: absolute;
  top: 2rem;
  -webkit-text-stroke: 1px #0265dc;
  -webkit-text-fill-color: transparent;
  font-family: "Bakbak One", Arial, sans-serif;
  font-weight: 400;
  font-size: 5rem;
  line-height: 6rem;
  content: counter(item, decimal-leading-zero);
  counter-increment: item;
}

.about-viewer__about-card {
  padding: 5.5rem 2rem 2rem 2rem;
}

.about-card__title {
  font-size: 1.5rem;
  line-height: 2rem;
  z-index: 2;
}

.about-card__text {
  font-size: 1.125rem;
  line-height: 1.75rem;
}
.our-team {
  max-width: 81.25rem;
  margin: 0 auto;
}
.our-team__team-viewer {
  flex-wrap: wrap;
  justify-content: center;
  gap: 2.5rem;
}

.our-team__card {
  padding: 1.5rem;
  gap: 1rem;
}

.our-team__image {
  border-radius: 50%;
  background-color: #014759;
}

.our-team__description {
  text-align: center;
}
.our-team__job {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.our-team__socials {
  gap: 0.5rem;
}

.socials__to-connect {
  border: 0.1rem solid transparent;
  padding: 0.375rem;
  width: 1.625rem;
  height: 1.625rem;
}

.faqs {
  margin: 0 auto;
  max-width: 81.25rem;
}

.faqs__details {
  display: block;
  max-width: 57rem;
  width: 100%;
}

.faqs__summary {
  justify-content: space-between;
}

.faqs__summary::after {
  content: "+";
  line-height: 2rem;
  width: 2rem;
  text-align: center;
  vertical-align: bottom;
  display: inline-block;
}

.faqs__summary:hover::after {
  background: #bfc5ee1f;
}

.faqs__details[open] .faqs__summary {
  padding-bottom: 1.5rem;
  border-bottom: 0.05rem solid #bfc5ee1f;
  margin-bottom: 1rem;
}

.faqs__details[open] .faqs__summary::after {
  content: "-";
}

.intro {
  position: relative;
}

.intro::before {
  content: "";
  position: absolute;
  width: 100vw;
  height: 94%;
  top: 0;
  left: calc((100% - 100vw) / 2);
  background-color: #1a1925;
  z-index: -1;
}

.intro::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url(../images/intro-backgrounds/topographicPH.webp);
  background-repeat: no-repeat;
  background-size: 100% 95%;
  background-position: 0 0;
  z-index: -1;
}

.intro__container {
  gap: 1.25rem;
  padding-bottom: 12.375rem;
}
.intro-crumbs__list {
  gap: 0.5rem;
}

.intro-crumbs__crumb {
  padding: 0.375rem 0.75rem;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.blog-place {
  align-items: start;
  padding: 4rem 14rem;
  gap: 2rem;
}

.sidenav {
  align-items: stretch;
  width: 100%;
  max-width: 20.5rem;
  gap: 1.375rem;
}

.sidenav-navigation__title {
  font-family: "Bakbak One", Arial, sans-serif;
  font-size: 1.5rem;
  line-height: 2rem;
  padding-bottom: 1rem;
  border-bottom: 0.1rem solid #bfc5ee1f;
}

.sidenav-navigation__navigation-list {
  flex-direction: column;
  gap: 0.5rem;
}
.navigation-list__link {
  padding: 0.375rem 0.75rem;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.25rem;
  width: 100%;
  gap: 0.2rem;
}

.navigation-list__item {
  width: 90%;
}

.sidenav-navigation__chip-list {
  gap: 0.5rem;
  flex-wrap: wrap;
}

.chip-list__chip-link {
  padding: 0.375rem 0.75rem;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.chip-list__chip-imaged-link {
  padding: 0.5rem;
  vertical-align: middle;
  width: 1rem;
  height: 1rem;
}

.blog-post {
  gap: 2rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 400;
  max-width: 57.5rem;
}

.blog-post__title {
  margin-bottom: 1rem;
}

.blog-post__post-data {
  gap: 0.5rem;
  color: #d0d7fb2b;
  font-size: 1rem;
  line-height: 1.25rem;
}

.common-position {
  background-position: 0 30%;
  padding-left: 1.5rem;
}

.post-data__author {
  font-size: 0.875rem;
  background: url("../images/icons/user.svg") no-repeat;
  background-position: 0 30%;
  padding-left: 1.5rem;
}

.post-data__calendar {
  font-size: 0.875rem;
  background: url("../images/icons/calendar.svg") no-repeat;
  background-position: 0 30%;
  padding-left: 1.5rem;
}

.paragraph__highlite {
  background-color: #0265dc;
}
.paragraph__link {
  color: #78bbfa;
}

.blog-post__paragraph-list {
  padding: 0 0 0 2rem;
  list-style-type: disc;
}
.blog-post__list {
  flex-direction: column;
  gap: 0.5rem;
}

.blog-post__list-item {
  width: 100%;
}

.blog-post__list-item::before {
  content: "";
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-image: url("../images/icons/small-logo.svg");
  background-repeat: no-repeat;
  margin-right: 0.5rem;
}

.blog-post__blog-cite {
  background-color: #002754;
  border-radius: 1rem;
  padding: 1rem;
}

.blog-cite__text {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.875rem;
  text-transform: capitalize;
  margin-bottom: 0.5rem;
}

.blog-cite__caption {
  position: static;
  gap: 0.5rem;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.caption__image {
  width: 1rem;
  height: 1rem;
}

.blog-cite__estimation {
  color: #eff5fad1;
}

.blog-post__images {
  gap: 1.5rem;
}

.blog-post__subtitle {
  font-size: 1.75rem;
  line-height: 2.25rem;
}
.blog-post__blog-links {
  justify-content: space-between;
  width: 100%;
}

.blog-links__title {
  font-size: 1rem;
  line-height: 1.5rem;
}

.blog-links__list {
  padding: 0 0 0 0.75rem;
  gap: 0.75rem;
}

.chip-list__chip-image {
  width: 1rem;
  height: 1rem;
}

.footer {
  background: #1a1925;
  margin-top: 2.5rem;
  gap: 4rem;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding-bottom: 2rem;
}
.footer-description__link {
  text-transform: uppercase;
  width: fit-content;
  gap: 1rem;
}

.footer-description__title {
  font-family: "Bakbak One", Arial, sans-serif;
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.5rem;
  color: #0265dc;
}
.footer-description__logo-image {
  height: 2.5rem;
}
.footer__footer-description {
  width: 100%;
  gap: 1.5rem;
  align-items: start;
}
.footer-description {
  flex-grow: 3;
}

.footer-description__text {
  margin-top: 0.75rem;
  width: 20rem;
  line-height: 1.25rem;
}

.footer-column__title {
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.75rem;
  margin-bottom: 0.5rem;
  padding: 0 0.5rem;
}

.footer-column__column {
  align-items: start;
}

.footer-column__item {
  width: 90%;
}

.footer-column__link {
  display: inline-block;
  width: 100%;
  padding: 0.25rem 0.5rem;
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 1rem;
}
.footer__socials {
  width: 100%;
  justify-content: space-between;
  border-top: 0.1rem solid #bfc5ee1f;
  padding-top: 2rem;
}
